body {
    background-image: url(/images/pexels-aleksandar-pasaric-325185.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clockContainer {
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 10px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    background-color: rgba(0,0,0,0.75);
}

.hours{
    display: inline-block;
    padding: 0,1rem 0,1rem;
    vertical-align: middle;
    font:bold;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 80px;
    color:#fff;
}
.minutes{
    display: inline-block;
    padding: 0,1rem 0,1rem;
    vertical-align: middle;
    font:bold;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 80px;
    color:#fff;
}
.seconds{
    display: inline-block;
    padding: 0,1rem 0,1rem;
    vertical-align: middle;
    font:bold;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 80px;
    color:#fff;
}

#texthours,#textminutes,#textseconds{
    position: relative;
    font-size: 20px;
    

}
#textminutes{
    left:-10px;
}

.clock{
    display:inline-block;
    left: 200px;

}

#day{
    padding: 0,1rem 0,1rem;
    vertical-align: middle;
    font:bold;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 40px;
    color:#fff;
}